.account__avatar img, .account__header__bar .avatar .account__avatar {
  border-radius: 100%;
}

.avatarwrap {
  position: relative;
  display: inline-block;
}

.badge-level1,
.badge-level2,
.badge-level3 {
  bottom: -1px;
  display: block;
  height: 16px;
  left: 31px;
  position: absolute;
  width: 16px
}

.badge-level1 {
  background: transparent url('../images/badge-level1.png') center no-repeat;
  background-size: 16px
}

.badge-level2 {
  background: transparent url('../images/badge-level2.png') center no-repeat;
  background-size: 16px
}

.badge-level3 {
  background: transparent url('../images/badge-level3.png') center no-repeat;
  background-size: 16px
}

.account__header .badge-level1,
.account__header .badge-level2,
.account__header .badge-level3 {
  bottom: -5px;
  height: 35px;
  left: 59px;
  width: 35px
}

.account__header .badge-level1 {
  background: transparent url('../images/badge-level1-profile.png') center no-repeat;
  background-size: 35px
}

.account__header .badge-level2 {
  background: transparent url('../images/badge-level2-profile.png') center no-repeat;
  background-size: 35px
}

.account__header .badge-level3 {
  background: transparent url('../images/badge-level3-profile.png') center no-repeat;
  background-size: 35px
}

.theme-mastodon-bird-ui-contrast.layout-single-column .account__header__bar .avatar .account__avatar,
.theme-mastodon-bird-ui-dark.layout-single-column .account__header__bar .avatar .account__avatar,
.theme-mastodon-bird-ui-light.layout-single-column .account__header__bar .avatar .account__avatar {
  height: 106px !important;
  width: 106px !important
}

.autosuggest-account-icon .badge-level1,
.autosuggest-account-icon .badge-level2,
.autosuggest-account-icon .badge-level3 {
  background-size: 8px;
  bottom: -2px;
  height: 8px;
  left: 12px;
  width: 8px
}
